.sidePanel{
    background-color: rgb(38,38,38);
    height: 100vh;
    width: 60vw;
    position:absolute;
    left:0px;
    padding-top: 12px;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 99;
}
.closeIcon{
    display: flex;
    margin-left: 8px;
    
    font-size: larger;
}
.options{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 24px;
    padding-inline: 10px;
    align-items: flex-start;
}