
.main{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100vh;
    background-color: rgb(38,38,38);
    
}
body {
    
    
  }

html{
    scroll-behavior: smooth;
}

@media only screen and (max-width:1024px) {
    .home{
        width: 100%;
    }
}
@media only screen and (max-width:512px) {
    .home{
        width: 100%;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }