.domain-container{
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-inline: 30px;
    margin-bottom: 10px;
}
.domain-heading{
    margin-block: 5px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icon{
    color:rgb(188,180,180);
}
.domain-text{
text-align: center;
}
@media all and (max-width:720px) {
    .domain-container{
        width: 30rem;
        font-size: 1.6rem;
    }
}