.Left{
    color: #bcb4b4;
    position: absolute;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg);
    margin-top: 540px;
    right: -100px;
}
.img{
    width: 15vw;
}

@media  (max-width:720px) { 
    .Left{
        right: auto;
        left: -10vw;
    }
}